body {
    font-family: Arial, sans-serif;
    background: #111;
    color: #eee;
    text-align: center;
}

#video-container {
    display: inline-block;
    margin-top: 20px;
}

#stream {
    border: 4px solid #4caf50;
    border-radius: 10px;
    width: 800px;
}

